/* stylelint-disable selector-class-pattern */
html {
	padding-bottom: 0 !important;
}

html.no-scroll {
	overflow: hidden;
	position: relative;
	height: 100%;
}

body {
	-webkit-font-smoothing: antialiased;
	scroll-behavior: smooth;
	background: $blush;

	@include baseText;

	color: $black;

	&.noScroll {
		overflow: hidden;
		position: relative;
		height: 100%;
		touch-action: none;
	}
}

.visually-hidden{
	position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  word-wrap: normal !important;
}
