/* stylelint-disable scss/at-mixin-pattern */

/**
*	Mobile
*/
@mixin mobileP {
	@media (max-width: #{$tabletP}) and (orientation: portrait) {
		@content;
	}
}

/**
*	Texts
*/
@mixin baseText {
	font-family: $gt-super;
	font-weight: 400;
	color: $black;
	line-height: ratio(1.8);
	font-size: ratio(1.4);
}

@mixin h1 {
	@include baseText;
	
	font-size: ratio(8);
	line-height: 1;
	text-transform: uppercase;
	letter-spacing: .25em;
	font-weight: 300
}

@mixin h2 {
	@include baseText;

	font-size: ratio(2.4);
	font-weight: 400;
	line-height: ratio(3);
	text-transform: uppercase;
	letter-spacing: -0.03em;
}

@mixin h3 {
	@include baseText;

	font-size: ratio(3.2);
	font-weight: 300;
	line-height: 1;
}

@mixin h4 {
	@include baseText;

	font-weight: 300;
	font-style: italic;
	font-size: ratio(2.4);
	line-height: ratio(3.2);
	letter-spacing: 0.05em;
}

@mixin body {
	@include baseText;

	font-size: ratio(1.2);
	line-height: ratio(2.4);
}

@mixin bodySmall {
	@include baseText;

	font-size: ratio(1);
	line-height: ratio(1.8);
	letter-spacing: 0.05em;
	text-transform: uppercase;
}

@mixin h1Mobile {
	@include baseText;

	font-weight: 300;
	font-size: ratioM(4);
	line-height: ratioM(4);
	text-transform: uppercase;
	letter-spacing: .1rem;
}

@mixin h2Mobile {
	@include baseText;

	font-size: ratioM(1.8);
	font-weight: 400;
	line-height: ratioM(2.2);
	text-transform: uppercase;
	letter-spacing: -0.03em;
}

@mixin h3Mobile {
	@include baseText;

	font-size: ratioM(2.4);
	font-weight: 300;
	line-height: 1;
}

@mixin h4Mobile {
	
	font-size: ratioM(2);
	line-height: ratioM(2.4);
}

@mixin bodyMobile {
	@include baseText;

	font-size: ratioM(1.2);
	line-height: ratioM(1.8);
}

@mixin bodySmallMobile {
	@include baseText;

	font-size: ratioM(1);
	line-height: ratioM(1.8);
	text-transform: uppercase;
}

// =============================================================================
// String Replace
// =============================================================================

@function str-replace($string, $search, $replace: "") {
	$index: str-index($string, $search);

	@if $index {
		@return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
	}

	@return $string;
}

// =============================================================================
// Font Face
// =============================================================================

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
	$src: null;

	$extmods: (
		eot: "?",
		svg: "#" + str-replace($name, " ", "_")
	);

	$formats: (
		otf: "opentype",
		ttf: "truetype"
	);

	@each $ext in $exts {
		$extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
		$format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
		$src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
	}

	@font-face {
		font-family: quote($name);
		font-style: $style;
		font-weight: $weight;
		src: $src;
	}
}